<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Manager</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.tapf.fmc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Football Eleven</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb284002820045</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.4</string>
	<key>FLURRY_KEY</key>
	<string>Y4C7KKJC4T52HMK6HYMV</string>
	<key>FacebookAppID</key>
	<string>284002820045</string>
	<key>GAME_ID</key>
	<string>0</string>
	<key>GAME_TYPE</key>
	<string>football</string>
	<key>GAME_URL</key>
	<string>http://football.tapfantasy.com/football</string>
	<key>IBCustomFonts</key>
	<dict>
		<key>Helvetica</key>
		<string>MLS 2013</string>
		<key>Helvetica-Bold</key>
		<string>MLS 2013</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MLS2013.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
