<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Football</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.tapf.fmc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Football Eleven</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb284002820045</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.1</string>
	<key>FacebookAppID</key>
	<string>284002820045</string>
	<key>GAME_ID</key>
	<string>0</string>
	<key>GAME_TYPE</key>
	<string>football</string>
	<key>GAME_URL</key>
	<string>http://football.tapfantasy.com/football</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>ReplacementFonts</key>
	<dict>
		<key>Helvetica</key>
		<string>Febrotesk 4F Unicase Bold</string>
		<key>Helvetica-Bold</key>
		<string>Febrotesk 4F Unicase Bold</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>nasalization.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
