<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Manager</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.tapf.hf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hockey Fantasy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.9</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb179270922115645</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.9</string>
	<key>FLURRY_KEY</key>
	<string>NKG46HM2TJ73T78859MX</string>
	<key>FacebookAppID</key>
	<string>179270922115645</string>
	<key>GAME_ID</key>
	<string>2</string>
	<key>GAME_TYPE</key>
	<string>hockey</string>
	<key>GAME_URL</key>
	<string>http://hockey.tapfantasy.com/hockey</string>
	<key>IBCustomFonts</key>
	<dict>
		<key>Helvetica</key>
		<string>TrebuchetMS</string>
		<key>Helvetica-Bold</key>
		<string>TrebuchetMS-Bold</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
