<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FootballCity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FootballEleven.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FootballTycoon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FootyManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>902AE7231836B82C002AE210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90344D5F185B91B1006AAA6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903F38E013C2FA4F00BCD9E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906EBA24185B7315000AF937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B4445A185A060800FB0A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E52A2C185B8B3A00AAF134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
